---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans");

// Our variables
$base-font-family: Arial, sans-serif;
$base-font-size:   20px;
$base-font-weight: 100;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$bigger-line-height: 1.8;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #22c5fc;

$grey-color:       #6F777D;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  #6F777D;

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

$baseurl: '{{ site.baseurl }}';

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.main {
    padding: 10x;
}
