<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The HARP Lab</title>

    <link rel="stylesheet" href="{{ '/assets/fonts/poppins/poppins.css' | relative_url }}">

    <!-- Make sure this path points to the correct CSS location -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <div class="content-container">

      
      <div id="banner">
	<div class="text-section">
	  <!-- 3. Use a <span> to color the word HARP -->
	    <h1>
              <p class="poppins-bold">The <span class="harp-text">HARP</span> Lab</p>
	    </h1>
	</div>

	<div class="logo-section">
	  <img src="{{ '/assets/logo.svg' | relative_url }}" alt="HARP Lab Logo">
	</div>
      </div>

      <!-- Main Content !--> 
      <div id="belowbanner">
We are the <span class="harp-text">H</span>igh-performance  <span class="harp-text">A</span>utomated  <span class="harp-text">R</span>easoning and  <span class="harp-text">P</span>rogramming (<span class="harp-text">HARP</span>) group. 
      </div>

      <div id="main-content">
	{{ content }} 
      </div>

    </div>
  </body>
</html>
