<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div id="mainwrapper">
      <div class="row">
	<div class="col-9">
	  <h1 class="display-6">The HARP Lab</h1>
	  <p>Welcome to the High-performance Automated Reasoning and
	    Programming (HARP) lab. We are a collaboration of
	    researchers (at UAB, UIC, and Syracuse) working to scale
	    deductive analytics (e.g., program analysis, vulnerability
	    detection, and drug discovery) to next-generation architectures
	    (e.g., supercomputers and GPU clusters) leveraging enabling
	    algorithmic insights.</p>
	</div>
	<div class="col">
	  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	    <div class="carousel-inner">
	      <div class="carousel-item active">
		<img class="d-block w-100" src="..." alt="First slide">
	      </div>
	      <div class="carousel-item">
		<img class="d-block w-100" src="..." alt="Second slide">
	      </div>
	      <div class="carousel-item">
		<img class="d-block w-100" src="..." alt="Third slide">
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="row">
	<div class="col">
	  <div>
	  </div>
	</div>
	<div class="col">
	</div>
	<div class="col">
	</div>
	  
      </div>
      
    {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
